* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../images/BackBlack.jpg) no-repeat top center/cover;
  height: 100vh;
  color: white;
}
main {
  display: flex;
  flex-direction: column;  
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: red;
  width: 800px;
}
header p {
  font-size: 50px;
}